<form action="#" id="formParceiro">
    <div class="file-field input-field">
        <div class="btn">
            <span>File</span>
            <input type="file" name="imageParceiro" id="imageParceiro">
        </div>
            <div class="file-path-wrapper">
            <input class="file-path validate" placeholder="SELECIONE SUA IMAGEM" type="text" id="textImageParceiros">
        </div>
        <button onclick="sendParceiros()" class="btn right" type="button">ENVIAR</button>
    </div>
</form>

