<html>
    <head>
        <meta charset="UTF-8"/>
        <title>GEOCORR Painel</title>
        <link rel="shortcut icon" href="../../images/logo.png" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="../../Materialize/css/materialize.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Raleway" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../../css/login.css" rel="stylesheet">
        <script src="../../js/libs/jquery-3.2.1.js"></script>
        <script src="../../js/ultils/sweetalert.min.js"></script>
    </head>

    <body class="loginBack">
        <div class="row">
            <span class="col l4 m4 s4"></span>
            <img class="col l4 m4 s4 logo" src="../../images/logoBranca.png">
            <span class="col l4 m4 s4"></span>
        </div>
        <div class="row">
            <div class="col l4"></div>
            <div class="col l4 m12 s12 backWHITE">
                <input id="login" placeholder="LOGIN">
                <input id="pass" type="password" placeholder="SENHA">
                <button class="btn col l12 m12 s12" type="button" onclick="logar()">LOGAR</button>
            </div>
            <div class="col l4"></div>
        </div>

        <script src="../../js/ultils/host.js"></script>
        <script src="../../js/controller/UserController.js"></script>
        <script src="../../js/modulos/user.js"></script>

    </body>

</html>