
/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    display: none;

}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track-piece {
    background-color: #05395b;
    border-left: 1px solid #CCC;
}

/* Cor do indicador de rolagem */
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #3490cc;
}

/* Cor do indicador de rolagem - ao passar o mouse */
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #717171;
}

.geralChat{
    margin-top: 2%;
}
.navChat{
    background-color: #2C3B41;
    height: 80%;
    overflow: auto;
}
.nameChat {
    color: white;
    font-family: "Montserrat";
    font-size: 1vw;
    font-weight: 400;
}
.nameChat:hover{
    background-color: rgb(22, 30, 33);
    cursor: pointer;
}
