.nav {
    background-color: #55aa27;
    height: 100px;
    font-family: "Montserrat";
}
.nav .logo{
    width: 8%;
    margin-left: 2%;
    margin-top: 5px;
}
.nav .right{
    position: relative;
    bottom: 0;
    font-size: 2vw;
    margin-right: 2%;
    text-transform: uppercase;
}
.border {
    padding: 10px;
    font-size: 1vw;
    border: solid 1px gray;
    border-radius: 30px;
}